.menuList {
  text-align: center;
  padding-bottom: 5%;
}

.menuList h2 {
  margin: 0;
  padding-top: 7rem;
  padding-bottom: 3rem;
  padding-left: 0;
  font-family: "Publish Gothic Demibold", "Publish Gothic", sans-serif;
}

.menuItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

.menuItemText {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Publish Gothic Light", sans-serif;
}

.danish {
  text-align: right;
  width: 40%;
  font-family: "Publish Gothic Light", sans-serif;
}

.price {
  text-align: center;
  width: 7%;
  font-weight: bold;
  font-family: "Publish Gothic Demibold", "Publish Gothic", sans-serif;
}

.italian {
  text-align:left;
  width: 40%;
  font-family: "Publish Gothic Light", sans-serif;
}

@media only screen and (max-width: 768px) {
  .menuItemText {
    flex-direction: column;
    align-items: center;
  }

  .danish, .price, .italian {
    width: 100%;
    text-align: center;
  }
}
